<%= form_for([@story, @story.comments.build]) do |f| %>
  <div class="field">
    <%= f.label :comment, "leave a comment" %><br />
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit "submit" %>
  </div>
<% end %>