/*---------------------------------------------
  Variables
-----------------------------------------------*/
/*---------------------------------------------
  Styles
-----------------------------------------------*/
/* resets */
body {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0 0 12px 0;
  font-weight: normal; }

li {
  margin-bottom: 6px; }

a img {
  border: 0; }

a {
  outline: none; }

/* scaffold */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 10px; }

div.field {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  #error_explanation ul li {
    font-size: 12px;
    list-style: square; }

/* styles */
body {
  color: #333;
  background: #fff;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px; }

a {
  text-decoration: none;
  color: #369; }

#header {
  height: 63px;
  position: relative;
  background: #CEE3F8;
  border-bottom: 1px solid #5F99CF; }

#quick_links {
  height: 17px;
  color: gray;
  border-bottom: 1px solid gray;
  background: #f0f0f0; }

#user_nav {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 4px 8px;
  background: #EFF7FF;
  color: gray;
  font-size: 10px;
  border-top-left-radius: 7px;
  -webkit-border-top-left-radius: 7px;
  -moz-border-radius-topleft: 7px; }

#logo {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 24px;
  padding: 2px 4px; }
  #logo a {
    color: #000; }
  #logo a:hover {
    color: #000;
    background: transparent; }

#page {
  padding: 7px; }

#sidebar {
  background: #fff;
  display: block;
  float: right;
  padding-left: 7px;
  padding-bottom: 7px;
  width: 300px; }

.flash {
  background: #EDF8FF;
  border: 1px solid #818181;
  overflow: hidden;
  padding: 10px;
  margin-bottom: 12px; }

/* stories */
.story {
  font-size: 10px;
  color: #888888;
  margin-bottom: 12px; }
  .story .scoring {
    float: left;
    padding: 0 10px;
    width: 30px;
    text-align: center; }
    .story .scoring a {
      font-size: 12px;
      color: #b6b6b6;
      width: 10px;
      height: 9px;
      display: block;
      text-indent: -400%;
      overflow: hidden;
      margin: 0 auto;
      background-repeat: no-repeat;
      background-image: url(/images/arrows.png); }
    .story .scoring .upvote {
      background-position: top left; }
    .story .scoring .upvote.active {
      background-position: top right; }
    .story .scoring .downvote {
      background-position: bottom left; }
    .story .scoring .downvote.active {
      background-position: bottom right; }
    .story .scoring .score {
      color: #ccc;
      font-size: 13px;
      font-weight: bold;
      padding: 3px 0; }
  .story .title {
    font-size: 15px;
    margin-bottom: 1px; }
  .story .site {
    color: #888888;
    font-size: 10px; }
    .story .site a {
      color: #888888; }
  .story .details {
    margin-bottom: 1px; }
    .story .details a:hover {
      text-decoration: underline; }
  .story .actions a {
    font-weight: bold;
    color: #888888;
    margin-right: 5px; }
    .story .actions a:hover {
      text-decoration: underline; }

/* story */
#story {
  margin-bottom: 24px; }

#comments_area {
  padding-left: 20px; }
  #comments_area form textarea {
    width: 500px;
    height: 100px; }

#comments {
  margin-top: 18px; }

.comment {
  margin-bottom: 12px; }
  .comment .details {
    font-size: 10px;
    margin-bottom: 3px;
    color: #888888; }
    .comment .details .user {
      font-weight: bold; }
  .comment .actions {
    margin-top: 3px; }
    .comment .actions a {
      font-weight: bold;
      color: #888888;
      margin-right: 5px;
      font-size: 10px; }
  .comment .details a:hover,
  .comment .actions a:hover {
    text-decoration: underline; }
