<div id="story">
  <%= render :partial => 'story', :locals => {:story => @story} %>
</div>

<div id="comments_area">
  <%= render :partial => 'comments/form' %>
  <div id="comments">
    <%= render :partial => 'comments/comment', :collection => @story.comments %>
  </div>
</div>
